{% extends 'base.html.twig' %}

{% block title %}Les monstres que je préfère{% endblock %}

{% block content %}
<div class="row">
        {% for product in products %}
                <div class="col-md-4">
                        <div class="card border-warning style="width: 18rem;">
                                <div class="card-body">
                                        <h5 class="card-title">{{ product }}</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                        </div>

                </div>
        {% endfor %}
</div>
{% endblock %}